<!--<div class='content-min600px content-80p'>
	<div class='title-on-page text-align-center'>
		<h1>Какой раздел Вас интересует?</h1>
	</div>
	<div class='categories-of-product'>
			<div class='col col-33p' style = 'background: url(http://a1.dspncdn.com/media/692x/58/84/07/588407f7bc3b56971ff6f8f5727c4198.jpg); background-size: cover;'>
			</div>
			<div class='col col-33p' style = 'background: url(http://a1.dspncdn.com/media/692x/0c/18/90/0c18900c205e94d7091cef63ba0c5cc1.jpg); background-size: cover;'>
			</div>
			<div class='col col-33p' style = 'background: url(http://a1.dspncdn.com/media/692x/c7/a0/e7/c7a0e7cf6b9e7a6414ce7104c3583a5e.jpg); background-size: cover;'>
			</div>
	</div>
</div>
-->
<div class='slide welcome-home'>
	<img id="image-main-page" src="/images/bearbee.gif" data-pin-nopin="true">
	<div class="slide-content" id="slide-content1">
		<img src='/images/logo-name.png' class='logoname'/>
		<h2>Добро пожаловать на Joy Academy!</h2>
		<p>Наши олимпиады и конкурсы дарят детям знания, эмоции и улыбки.</p>
		<div class='activities'>
			<a class='btn btn-our btn-our-blue'>Присоединиться!</a>
			<a class='btn btn-our btn-our-green'>Попробовать бесплатно</a>
		</div>
  </div>
</div>
<div class='slide advantages-home'>
	<div class='col col-33p'>
		<img src='/images/idea.png' />
		<div class='first-child-css'>
			<h5><b>Знания + эмоции = умный и довольный ребенок</b></h5>
			<p>Наша задача - дать знания Вашему ребенку и вызвать у него интерес к обучению.</p>
		</div>
	</div>
	<div class='col col-33p'>
		<img src='/images/heart.png' />
		<div>
			<h5><b>Мы дарим эмоции</b></h5>
			<p>Наши олимпиады очень яркие и красочные, они дарят миллион улыбок вашим детям.</p>
		</div>
	</div>
	<div class='col col-33p'>
		<img src='/images/like.png' />
		<div>
			<h5><b>Мы хорошо знаем свое дело</b></h5>
			<p>Мы имеет большой опыт в проведении онлайн-олимпиад. Наши преподаватели отличаются высоким уровнем профессионализма.</p>
		</div>
	</div>
</div>
<div class='devider-bee'>
	<img src='/images/devider-bee.png'/>
</div>
<div class='section olympics-home'>
	  <h1 class='text-align-center title-on-page'>Наши олимпиады</h1>
	  <%= link_to contests_path do %>
			<div class='col col-33p subject-olympics'>
				<img src='/images/subject-olympics.gif' />
				<h4>Предметные олимпиады</h4>
			</div>
		<% end %>
		<div class='col col-33p developing-olympics'>
			<img src='/images/developing-olympics.gif' />
			<h4>Развиващие олимпиады</h4>
		</div>
		<div class='col col-33p game-olympics'>
			<img src='/images/game-olympics.gif' />
			<h4>Обучающие игры</h4>
		</div>
		<div class='clearboth'>
		</div>
</div>



