<div class='slide welcome-home'>
	<img id="image-main-page" src="/images/bearbee.gif" data-pin-nopin="true">
	<div class="slide-content" id="slide-content1">
		<img src='/images/logo-name1.png' alt='джой олимпиады | дистанционные олимпиады для школьников' class='logoname'/>
		<h1>Дистанционные олимпиады 2017</h1>
		<h2>Олимпиады по математике, информатике, русскому и английскому языкам</h2>
		<!--<div class='activities'>
			<a class='btn btn-our btn-our-green'>Зарегист!</a>
			<a class='btn btn-our btn-our-blue'>Попробовать бесплатно</a>
		</div>-->
  </div>
</div>
<div class='slide advantages-home'>
	<div class='col col-2of6'>
		<img src='/images/idea.png' />
		<div class='first-child-css'>
			<h5>Знания + эмоции = умный и довольный ребенок</h5>
			<p>Наша задача - дать знания Вашему ребенку и вызвать у него интерес к обучению.</p>
		</div>
	</div>
	<div class='col col-2of6'>
		<img src='/images/heart.png' />
		<div>
			<h5>Бесплатное участие и мгновенный результат</h5>
			<p>Участие в олимпиадах бесплатное. Результат будет известен сразу после прохождениях олимпиад.</p>
		</div>
	</div>
	<div class='col col-2of6'>
		<img src='/images/like.png' />
		<div>
			<h5>Мы хорошо знаем свое дело</h5>
			<p>Мы имеет большой опыт в проведении онлайн-олимпиад. Все задания составлены преподавателями с высоким уровнем профессионализма.</p>
		</div>
	</div>
</div>
<div class='devider-bee'>
	<img src='/images/devider-bee.png' alt='интернет олимпиады для школьников'/>
</div>
<div class='olympics-home mbl'>
	  <h1 class='tac title-on-page'>Предлагаем вам</h1>
	  <% @contests.each do |contest|  %>
		  <%= link_to contest_path(contest) do %>
				<div class='col col-press-25'>
					<div class='card'>
						<img src='<%=contest.image%>' alt='Олимпиады по математике, информатике, русскому и английскому языкам'/>
						<h4><%=contest.title%></h4>
					</div>
				</div>
			<% end %>
		<% end %>
		<!--<div class='col col-33p game-olympics'>
			<img src='/images/game-olympics.gif' />
			<h4>Обучающие игры</h4>
		</div>-->
		<div class='clearboth'></div>
</div>



