<div class="modal fade" id="action_joy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Акция</h4>
      </div>
      <div class="modal-body wrap-payment-inputs">

          Вы сможете принять участие в онлайн-олимпиадх на нашем другом сайте <a target='_blank' href='sprint-olympic.ru'>sprint-olympic.ru</a> и приобрести 3 диплома по цене 2-ух!
          <p>Для того, чтобы получить бесплатно 3-ий диплом на сайте <a target='_blank' href='sprint-olympic.ru'>sprint-olympic.ru</a> нужно:<br>
          - Принять участие в 2-х олимпиадах на сайте <a target='_blank' href='sprint-olympic.ru'>sprint-olympic.ru</a> в ближайшие 3 дня;</br>
          - Оплатить 2 диплома на сайте <a target='_blank' href='sprint-olympic.ru'>sprint-olympic.ru</a> в ближайшие 3 дня;</br>
          - Написать на почту sprint.olympic@yandex.ru номер диплома, который хотите получить БЕСПЛАТНО.</p>
          Акция действует для Вас в течении <b>3-х дней</b> после оплаты диплома на <b>этом сайте!</b><br>Принимайте участие!
            
      </div>
    </div>
  </div>
</div>
